html{
    /*px:像素 基础字号为10像素*/
    font-size: 10px;
    /*Google fonts 输出的CSS*/
    font-family: 'Oswald', sans-serif;
    /*设置<html>元素的背景颜色*/
    background-color: turquoise;
}

body{
    /*强制页面保持600像素宽*/
    width: 600px;
    /*第一个值代表元素的上方和下方（在这个例子中设置为 0），
    而第二个值代表左边和右边（在这里，auto 是一个特殊的值，
    意思是水平方向上左右对称）*/
    margin: 0 auto;
    /*给内边距设置了四个值来让内容四周产生一点空间。
    这一次我们不设置上方的内边距，设置右边，下方，左边的内边距为20像素。
    值以上、右、下、左的顺序排列。*/
    padding: 0 20px 20px 20px;
    /*为 body 设置 5 像素的黑色实线边框*/
    border: 5px solid black;
    background-color: #FF9500;
}

h1{
    font-size: 60px;
    /*去除默认间隙*/ 
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-align: center;
    text-shadow: 5px 5px 1px black;
}

p,li{
    font-size: 16px;
    /*每行的高度*/
    line-height: 2;
    /*单个字的像素大小*/
    letter-spacing: 1px;
}

a:hover{
    color: violet;
}

img{
    /*为了使图像有外边距*/
    display: block;
    margin: 0 auto;
}

/*html中 
head中
<style>.demo{text-align: center;}</style>
<div class=""
*/